* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  background-color: #531554;
  padding-bottom: 50px;
  gap: 10px;
}
.header svg {
  width: 100px;
}
.header .c-slacklogo--color path:nth-child(2) {
  filter: invert(100%);
}
.header .burger-menu a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  display: none;
}
.header .menus {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  width: 85%;
}
.header .menus .menu-left {
  display: flex;
  padding: 20px;
  gap: 10px;
}
.header .menus .menu-left ul {
  padding: 5px;
}
.header .menus .menu-left__links ul li {
  display: inline;
  margin: 10px;
}
.header .menus .menu-left__links ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.header .menus .menu-left__links ul li a:hover {
  text-decoration: underline;
}
.header .menus .menu-right {
  display: flex;
}
.header .menus .menu-right a {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-weight: 700;
}
.header .menus .menu-right a:first-child {
  font-size: 14px;
  padding-top: 15px;
}
.header .menus .menu-right a:first-child:hover {
  text-decoration: underline;
}
.header .menus .menu-right .menu-right__button1 {
  border: 1px solid white;
  border-radius: 2px;
  padding: 12px;
  font-size: 14px;
  text-transform: uppercase;
  align-self: center;
}
.header .menus .menu-right .menu-right__button1:hover {
  box-shadow: inset 0 0 0 1px #fff;
  transition: 200ms;
}
.header .menus .menu-right .menu-right__button2 {
  align-self: center;
  border-radius: 2px;
  padding: 15px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: white;
  color: #531554;
}
.header .menus .menu-right .menu-right__button2:hover {
  box-shadow: inset 0 0 0 2px #611f69;
  transition: 400ms;
}

/*FIN DEL HEADER*/
/*EMPIEZA EL MAIN*/
.main {
  background-color: #531554;
  padding: 20px;
}
.main .start {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 5px;
  padding-bottom: 50px;
}
.main .start__left {
  padding: 20px;
  text-align: left;
}
.main .start__left--title {
  color: white;
  font-size: 52px;
  margin-bottom: 15px;
  font-weight: 700;
}
.main .start__left--title span {
  color: #efb229;
}
.main .start__left--info {
  color: white;
  font-size: 16px;
  padding-bottom: 20px;
  width: 550px;
  line-height: 1.444;
  font-weight: 700;
}
.main .start__left--lastinfo {
  color: white;
  font-size: 14px;
  width: 500px;
  font-weight: 700;
  line-height: 1.5;
}
.main .start__buttons {
  text-transform: uppercase;
  padding-bottom: 10px;
  display: grid;
  gap: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  width: 400px;
  font-weight: 700;
}
.main .start__buttons--email {
  padding: 20px;
  background-color: white;
  color: #611f69;
  width: 700px;
}
.main .start__buttons--email:hover {
  box-shadow: inset 0 0 0 1px #611f69;
  transition: 200ms;
}
.main .start__buttons .google {
  display: flex;
  background-color: #4286f5;
}
.main .start__buttons .google .logo {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 2px;
  margin: 2px;
  padding: 10px;
}
.main .start__buttons .google a {
  padding-left: 200px;
  align-self: center;
  color: white;
}
.main .start__right .video {
  margin-top: 50px;
  max-height: 400px;
  max-width: 100%;
}

.info {
  background-color: #f4ede3;
  height: 1350px;
  width: 100%;
  padding-top: 30px;
}
.info__logos {
  width: 1000px;
  margin: 0 auto;
}
.info__logos--title p {
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 35px;
  letter-spacing: 1px;
}
.info__logos--img {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  height: 50px;
}
.info__logos--img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.publi {
  padding: 10px;
  margin: 0 auto;
  width: 1250px;
}
.publi__content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.publi__content--info h3 {
  font-weight: 700;
  font-size: 28px;
  padding: 30px 0 20px 0;
}
.publi__content--info p {
  font-size: 16px;
  line-height: 1.444;
  letter-spacing: -0.2px;
  width: 400px;
  margin-bottom: 20px;
}
.publi__content--info a {
  font-size: 16px;
}
.publi__content--info a:hover {
  text-decoration: underline;
}
.publi__content--video video {
  max-height: 500px;
  width: 100%;
}

.feedback {
  margin-top: 10px;
  height: 925px;
  width: 100%;
  background-color: white;
}
.feedback__emojis1 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  padding-top: 15px;
}
.feedback__emojis1 img {
  width: 109px;
  height: 62px;
}
.feedback__emojis1 img:nth-child(2) {
  width: 70px;
  height: 42px;
}
.feedback__emojis2 {
  display: flex;
  justify-content: space-evenly;
}
.feedback__emojis2 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.11;
  width: 700px;
  text-align: center;
  margin-bottom: 10px;
}
.feedback__emojis2 img {
  margin-top: 15px;
  width: 70px;
  height: 45px;
}
.feedback__emojis2 img:nth-child(2) {
  width: 79px;
  height: 52px;
}
.feedback__emojis3 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}
.feedback__emojis3 p {
  text-align: center;
  width: 600px;
  font-size: 16px;
  line-height: 1.444;
}
.feedback__emojis3 img {
  width: 90px;
  height: 52px;
}
.feedback__emojis3 img:nth-child(2) {
  width: 87px;
  height: 60px;
}
.feedback__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}
.feedback__buttons a {
  border-radius: 5px;
  padding: 20px 35px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.feedback__buttons a:first-child {
  background-color: #531554;
  color: white;
}
.feedback__buttons a:first-child:hover {
  background-color: #4a154b;
}
.feedback__buttons a:nth-child(2) {
  background-color: white;
  color: #531554;
  border: 1px solid #531554;
}
.feedback__buttons a:nth-child(2):hover {
  box-shadow: inset 0 0 0 2px #611f69;
  transition: 200ms;
}
.feedback .percents {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}
.feedback .percents__content--value {
  font-size: 75px;
  color: #611f69;
  font-weight: bold;
  padding-bottom: 10px;
}
.feedback .percents__content--info {
  width: 400px;
}
.feedback .customers {
  padding: 10px;
  margin: 0 auto;
  width: 1250px;
}
.feedback .customers__content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 100px;
}
.feedback .customers__content--info .cite {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.44;
}
.feedback .customers__content--info .author {
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.feedback .customers__content--info .author__info {
  padding-bottom: 30px;
}
.feedback .customers__content--info a {
  font-size: 16px;
}
.feedback .customers__content--info a:hover {
  border-bottom: 2px solid blue;
  transition: 100ms;
}
.feedback .customers__content--video video {
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  max-height: 600px;
  width: 100%;
}

.small-letters {
  margin-top: 20px;
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.44;
}

.last-section {
  width: 100%;
  height: 650px;
  background-color: #f4ede3;
}
.last-section h3 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
}
.last-section .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  margin: 0 auto;
}
.last-section .cards__content {
  padding: 15px;
  background-color: white;
  height: 400px;
  width: 300px;
  text-align: center;
}
.last-section .cards__content img {
  width: 100%;
  height: 50%;
  text-align: center;
}
.last-section .cards__content--title {
  padding-top: 20px;
  font-size: 14px;
  text-align: left;
}
.last-section .cards__content--desc {
  padding: 20px 0;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
}
.last-section .cards__content--link {
  display: inline;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.last-section .cards__content--link .arrow {
  margin-left: 45px;
  font-size: 28px;
}

.ellipse {
  background-color: #4a154b;
  -webkit-clip-path: ellipse(75% 100% at center top);
          clip-path: ellipse(75% 100% at center top);
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse__content {
  text-align: center;
}
.ellipse__content h4 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-bottom: 50px;
}
.ellipse__content a {
  font-weight: 700;
  margin: 5px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ellipse__content a:first-child {
  background-color: white;
  padding: 15px 30px;
  color: #4a154b;
  border-radius: 5px;
}
.ellipse__content a:first-child:hover {
  box-shadow: inset 0 0 0 2px #611f69;
  transition: 400ms;
}
.ellipse__content a:nth-child(2) {
  border: 1px solid white;
  padding: 14px 40px;
  border-radius: 5px;
  color: white;
}
.ellipse__content a:nth-child(2):hover {
  box-shadow: inset 0 0 0 1px #fff;
  transition: 500ms;
}/*# sourceMappingURL=style.css.map */